.App {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 1fr auto 4fr;
  grid-gap: 20px;
  justify-items: center;
}
header {
  grid-column: 1 / -1;
}
.App > p,
.App > div {
  grid-column: 2;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
